* {margin: 0;
   padding: 0;}

body {
    width: auto;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    background-color: hsla(264, 29%, 77%, 1);
    overflow: auto;
}

h1 {
    font-size: 2.7rem;
    color: hsla(262, 33%, 55%, 1);
    padding: 3rem 0rem .7rem;
    background-color: hsla(360, 100%, 100%, 1);
}

h2 {
    font-size: 1.5rem;
    padding-top: 1em;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
    padding: 1em 0em;
}

.underline { 
    border-bottom: 1px solid hsla(262, 33%, 55%, 1);
    width: 30%; padding-bottom: .1em; 
}
    
p.intro::first-letter {
    color: hsla(262, 33%, 55%, 1);
    font-size:250%;
    font-weight: bold;
} 

header ul {
    width: auto;
    background-color: hsla(262, 33%, 55%, 1); 
}

header li {
    display: inline-block;
    min-width: 12%;
    padding: .5rem .5rem;
    border-left: .3em solid hsla(262, 32%, 45%, 1);   
}

header li:first-of-type {border-left: none; }

a {
    font-weight: bold;
    text-decoration: none; 
    color: hsla(360, 100%, 100%, 1); 
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul.photos { 
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
    padding: 2rem;
    background-color: hsla(264, 29%, 77%, 1);
    overflow: auto;
}

.photos li {padding-bottom: 1em;}

section {
    text-align: left;
    font-size: .8em;
    background-color: hsla(217, 15%, 90%, 1);
    padding: 2rem;
    overflow: hidden;
}

section img {
    float: right;
    padding: 1rem;
    max-width: 50%;
}

ul.ingredients {
    padding-left: 0;
    padding: 1em 1em;
}

.ingredients li {padding-bottom: 1em;}

.clearfloat {clear: both;}

footer {
    background-color: hsla(360, 100%, 100%, 1);
}

footer img {
    padding: 3rem 2rem;
    width: 32px;
    height: 32px;
}